  <footer>
    <div class="container">
      <div class="footer-content">
        <div class="footer-logo">
          <img src="/images/logo-small.png" alt="Stardew Valley Logo">
        </div>
        <div class="footer-links">
          <h3>Navigation</h3>
          <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/personnages">Personnages</a></li>
            <li><a href="/cultures">Cultures</a></li>
            <li><a href="/peche">P?che</a></li>
            <li><a href="/mines">Mines</a></li>
          </ul>
        </div>
        <div class="footer-links">
          <h3>Liens externes</h3>
          <ul>
            <li><a href="https://www.stardewvalley.net/" target="_blank">Site officiel</a></li>
            <li><a href="https://twitter.com/ConcernedApe" target="_blank">Twitter</a></li>
            <li><a href="https://www.reddit.com/r/StardewValley/" target="_blank">Reddit</a></li>
            <li><a href="https://stardewvalleywiki.com/" target="_blank">Wiki</a></li>
          </ul>
        </div>
        <div class="footer-newsletter">
          <h3>Restez inform?</h3>
          <p>Inscrivez-vous ? notre newsletter pour recevoir les derni?res actualit?s sur Stardew Valley.</p>
          <form class="newsletter-form">
            <input type="email" placeholder="Votre email" required>
            <button type="submit">S'inscrire</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> Fan Site Stardew Valley | Cr?? par AurelienSuarez</p>
        <p>Stardew Valley est une marque d?pos?e de ConcernedApe. Ce site n'est pas affili? ? ConcernedApe.</p>
      </div>
    </div>
  </footer>
  
  <script src="/js/script.js"></script>
</body>
</html>