<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <header>
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="Stardew Valley Logo">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/personnages">Personnages</a></li>
          <li><a href="/cultures">Cultures</a></li>
          <li><a href="/peche">P?che</a></li>
          <li><a href="/mines">Mines</a></li>
        </ul>
      </nav>
      <div class="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </header>