<%- include('./partials/header') %>

<main class="container error-page">
  <div class="error-content">
    <h1><%= pageTitle %></h1>
    <img src="/images/junimo-sad.png" alt="Junimo triste" class="error-img">
    <p>La page que vous recherchez semble s'?tre perdue dans les mines...</p>
    <p>Peut-?tre qu'elle a ?t? emport?e par un Slime ou un fant?me ?</p>
    <a href="/" class="btn btn-large">Retourner ? l'accueil</a>
  </div>
</main>

<%- include('./partials/footer') %>